/* VARIABLES */
:root {
  --main-grey: rgb(133, 133, 133, .7);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
}


/* MAIN STYLING */
#header, #body, #navItems, #myFooter, #innerFooter {
    max-width: 1200px;
    margin: auto;
}


/* PRE NAV STYLING */
#header {
    display: flex;
    justify-content: space-between;
}
#navHeader {
  width: 100%;
  background-color: bisque;
}

#header {
    background-color: beige;
    padding: 2% 0 2% 0;
}
#header p {
    font-size: xx-large;
    margin-bottom: -30px;
}



/* NAV STYLING */
#navItems {
  display: flex;
  justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 1280px;
    margin: auto;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    display: block;
    color: rgb(14, 1, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    background-color: rgb(139, 80, 80);
  }


  /* BODY STYLING */
  #articleSquares {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  .square {
    width: 22%;
    margin: .5rem;
    border: 1px solid var( --main-grey);
    display: flex;
    align-content: flex-end;
    flex-direction: column-reverse;
  }
  .square:after {
    content: "";
    display: block;
    padding-bottom: 65%;
  }
  .paraContent {
    text-align: center;
    padding: .5rem;
  }
  .dateContent {
    text-align: left;
    padding: .5rem;
    color: white;
  }
  .scrim {
    background-color: var( --main-grey);
  }



  /* FOOTER STYLING */
  #myFooter {
    text-align: center;
  }
  .column {
    float: left;
    width: 33.33%;
  }
  #informationFooter:after {
    content: "";
    display: table;
    clear: both;
  }
  #informationFooter {
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
  }
  #footerHead {
    padding-top: .5rem;
  }
  #footerPara {
    padding-bottom: 1rem;
  }
  #newsLetterItems {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: .25rem;
  }
  #subscribeButton {
    background-color:rgb(184, 144, 144);
    color: white;
    padding: .5rem;
    margin: .5rem;
    border-radius: 10px;
    border: none;
  }
  #newsLetterInput {
    padding: .5rem;
  }
  #subscribeButton:hover {
    box-shadow: 0 12px 16px 0 rgba(110, 110, 110, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  #subscribeButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(185, 185, 185, 0.6);
}

#socialIcons {
  background-color: bisque;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.fa {
  margin: 0 .5rem 0 .5rem;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #55ACEE;
  color: white;
}
.fa:hover {
  opacity: 0.7;
}


/* SLIDER STYLING */
.swiper {
  width: 100%;
  height: auto;
}