.square {
    width: 30%;
  }

  .column {
    float: left;
  }

  #hamburgerBtn {
    display: none;
  }
  #subList {
    z-index: 100;
    position: absolute;
    background-color: #4389a7;
    top: 185px;
    left: 163px;
  }
  #subList li {
    border-bottom: 1px solid black;
  }
  #primaryNav li.parent > a::after {
    content: "\25bc";
    float: right;
    font-size: .75rem;
  }
  nav ul li {
    float: left;
  }
  #navItems {
    display: flex;
    justify-content: space-between;
  }
  #header {
    padding: .5rem .5rem .5rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#headerWrapper {
  width: 100%;
  background-color: rgb(243, 243, 243);
}
#navHeader {
  width: 100%;
  background-color: #6baeec;
}
#header h2 {
    font-size: xx-large;
    color: black;
}
#header a {
  text-decoration: none;
  list-style-type: none;
    
}
#nameLogo {
  display: flex;
  padding: .25rem;
  margin: .25rem;
}
#nameLogo h1 {
  align-self: flex-end;
}

/* NAV STYLING */
.searchBar {
  height: 30px;
}
.searchButton {
  height: 30px;
  width: 30px;
  margin-left: -8px;
  border: none;
  border-radius: 0px 10px 0px 0px;
  margin-top: 10px;
  background-color:#548abd; 
  color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 1280px;
    margin: auto;
  }

  nav ul li a {
    display: block;
    color: rgb(14, 1, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    background-color: #ace4fc;
  }