.invisible {
    display: none;
  }
  .active {
    background-color:#c4f4fc;
  }

  /* RESET */
* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}


/* MAIN STYLING */
#header, #body, #navItems, #myFooter, #innerFooter {
    max-width: 1200px;
    margin: auto;
}


/* PRE NAV STYLING */



  /* BODY STYLING */
  #articleHeader {
    padding: .5rem;
  }
  #articleSquares {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: .5rem;
  }
  .square {
    position: relative;
    text-align: center;
    width: 40%;
    height: auto;
    margin: .25rem;
    display: flex;
    flex-direction: column;
  }
  .square img {
    width: 100%;
    height: auto;
    opacity: 75%;
  }
  .square img:hover {
    opacity: 100%;
  }

  .square:after {
    content: "";
    display: block;
  }
  .paraContent {
    position: absolute;
    top: 0px;
    color: white;
    padding: 5px 0 5px 0;
  }
  .dateContent{
    position: absolute;
    bottom: 4px;
    color: white;
    padding: 5px 0 5px 0;
  }
  .scrim {
    width: 100%;
    background-color: var( --main-grey);
  }



  /* FOOTER STYLING */
  #myFooter {
    text-align: center;
    padding-bottom: 2%;
  }
  #myFooter a {
    color: rgb(14, 1, 1);
    text-align: center;
    text-decoration: none;
  }
  
  #informationFooter:after {
    content: "";
    display: table;
    clear: both;
  }
  #informationFooter {
    background-color: #6baeec;;
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
  }
  .footerHead {
    padding-top: .5rem;
  }
  .footerPara {
    padding-bottom: 1rem;
  }
  #newsLetterItems {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: .25rem;
  }
  #subscribeButton {
    color: black;
    padding: .5rem;
    margin: .5rem;
    border-radius: 10px;
    border: none;
    background-color: #c4f4fc;
  }
  #newsLetterInput {
    padding: .5rem;
  }
  #subscribeButton:hover {
    box-shadow: 0 12px 16px 0 rgba(110, 110, 110, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  #subscribeButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(185, 185, 185, 0.6);
}
#informationFooter a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

#socialIcons {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.fas {
  margin: 0 .5rem 0 .5rem;
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #358fc9;
  color: white;
}
.fas:hover {
  opacity: 0.7;
}


/* SLIDER STYLING */
.swiper {
  width: 100%;
  height: auto;
}