// SUBLIST NAV STYLING
#hamburgerBtn span:nth-child(1) {
    display: block;
  }
  #hamburgerBtn span:nth-child(2) {
    display: none;
  }
  
  #hamburgerBtn.open span:nth-child(1) {
    display: none;
  }
  #hamburgerBtn.open span:nth-child(2) {
    display: block;
  }


  // BEGIN HEADER STYLING
  #header {
        padding-top: 3rem;
        display: flex;
        justify-content: center;
  }
  #header a {
    text-decoration: none;
      list-style-type: none;
      color: black;
      font-size: x-large;
  }
  #nameLogo {
    display: flex;
    padding: .25rem;
    margin: .25rem;
  }
  #nameLogo h1 {
    align-self: flex-end;
  }

// BEGIN NAV STYLING
  #primaryNav {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ace4fc;
  }
  #primaryNav li {
    padding: 5%;
    border: 1px solid grey;
  }
  #primaryNav li a {
    color: black;
    text-decoration: none;
    font-size: large;
  }
  #primaryNav.open {
    height: auto;
  }
 #subList {
    width: 100vw;
    background-color: cornflowerblue;
    
  }
  #subList li {
    border-bottom: 1px solid black;
    color: black;
    list-style-type: none;
    display: block;
    margin-top: 10px;
  }
  #primaryNav li.parent > a::after {
    content: "\25bc";
    float: right;
    font-size: .75rem;
  }
  #navItems {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
  }
  #form {
    display: none;
  }
  .smallNav {
    color: black;
    background-color: #c4f4fc;
    border: none;
    font-size: large;
    padding: .5rem;
    display: flex;
    width: 100vw;
    
  }
  .smallNav a {
    text-decoration: none;
    color: black;
  }
  #telephone {
    display: none;
  }


  //BEGIN BODY STYLING
  .swiper-slide picture {
    display: flex;
    justify-content: center;
  }
  .cruisesImage {
    border: 1px solid black;
  }
  #cruiseSelectionSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
  }
  #cruiseSelectionSection h4, #cruiseSelectionSection h3{
    font-size: x-large;
  }
  #cruiseSelectionSection button {
    border-radius: 20px;
    padding: 3%;
    width: 100%;
    margin-top: 2%;
    display: block;
    font-size: large;
  }
