.invisible {
  display: none; }

.active {
  background-color: #c4f4fc; }

/* RESET */
* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif; }

/* MAIN STYLING */
#header, #body, #navItems, #myFooter, #innerFooter {
  max-width: 1200px;
  margin: auto; }

/* PRE NAV STYLING */
/* BODY STYLING */
#articleHeader {
  padding: .5rem; }

#articleSquares {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: .5rem; }

.square {
  position: relative;
  text-align: center;
  width: 40%;
  height: auto;
  margin: .25rem;
  display: flex;
  flex-direction: column; }

.square img {
  width: 100%;
  height: auto;
  opacity: 75%; }

.square img:hover {
  opacity: 100%; }

.square:after {
  content: "";
  display: block; }

.paraContent {
  position: absolute;
  top: 0px;
  color: white;
  padding: 5px 0 5px 0; }

.dateContent {
  position: absolute;
  bottom: 4px;
  color: white;
  padding: 5px 0 5px 0; }

.scrim {
  width: 100%;
  background-color: var(--main-grey); }

/* FOOTER STYLING */
#myFooter {
  text-align: center;
  padding-bottom: 2%; }

#myFooter a {
  color: #0e0101;
  text-align: center;
  text-decoration: none; }

#informationFooter:after {
  content: "";
  display: table;
  clear: both; }

#informationFooter {
  background-color: #6baeec;
  display: flex;
  justify-content: space-evenly;
  padding: 2%; }

.footerHead {
  padding-top: .5rem; }

.footerPara {
  padding-bottom: 1rem; }

#newsLetterItems {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: .25rem; }

#subscribeButton {
  color: black;
  padding: .5rem;
  margin: .5rem;
  border-radius: 10px;
  border: none;
  background-color: #c4f4fc; }

#newsLetterInput {
  padding: .5rem; }

#subscribeButton:hover {
  box-shadow: 0 12px 16px 0 rgba(110, 110, 110, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

#subscribeButton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(185, 185, 185, 0.6); }

#informationFooter a {
  list-style-type: none;
  text-decoration: none;
  color: black; }

#socialIcons {
  display: flex;
  justify-content: center;
  padding: 1rem; }

.fas {
  margin: 0 .5rem 0 .5rem;
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #358fc9;
  color: white; }

.fas:hover {
  opacity: 0.7; }

/* SLIDER STYLING */
.swiper {
  width: 100%;
  height: auto; }

:root {
  --main-grey: rgba(100, 98, 98, 0.8); }

@media only screen and (max-width: 514px) {
  #hamburgerBtn span:nth-child(1) {
    display: block; }

  #hamburgerBtn span:nth-child(2) {
    display: none; }

  #hamburgerBtn.open span:nth-child(1) {
    display: none; }

  #hamburgerBtn.open span:nth-child(2) {
    display: block; }

  #header {
    padding-top: 3rem;
    display: flex;
    justify-content: center; }

  #header a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: x-large; }

  #nameLogo {
    display: flex;
    padding: .25rem;
    margin: .25rem; }

  #nameLogo h1 {
    align-self: flex-end; }

  #primaryNav {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ace4fc; }

  #primaryNav li {
    padding: 5%;
    border: 1px solid grey; }

  #primaryNav li a {
    color: black;
    text-decoration: none;
    font-size: large; }

  #primaryNav.open {
    height: auto; }

  #subList {
    width: 100vw;
    background-color: cornflowerblue; }

  #subList li {
    border-bottom: 1px solid black;
    color: black;
    list-style-type: none;
    display: block;
    margin-top: 10px; }

  #primaryNav li.parent > a::after {
    content: "\25bc";
    float: right;
    font-size: .75rem; }

  #navItems {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%; }

  #form {
    display: none; }

  .smallNav {
    color: black;
    background-color: #c4f4fc;
    border: none;
    font-size: large;
    padding: .5rem;
    display: flex;
    width: 100vw; }

  .smallNav a {
    text-decoration: none;
    color: black; }

  #telephone {
    display: none; }

  .swiper-slide picture {
    display: flex;
    justify-content: center; }

  .cruisesImage {
    border: 1px solid black; }

  #cruiseSelectionSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%; }

  #cruiseSelectionSection h4, #cruiseSelectionSection h3 {
    font-size: x-large; }

  #cruiseSelectionSection button {
    border-radius: 20px;
    padding: 3%;
    width: 100%;
    margin-top: 2%;
    display: block;
    font-size: large; } }
@media only screen and (min-width: 515px) and (max-width: 1199px) {
  .square {
    width: 30%; }

  .column {
    float: left; }

  #hamburgerBtn {
    display: none; }

  #subList {
    z-index: 100;
    position: absolute;
    background-color: #4389a7; }

  #subList li {
    border-bottom: 1px solid black; }

  #primaryNav li.parent > a::after {
    content: "\25bc";
    float: right;
    font-size: .75rem; }

  nav ul li {
    float: left; }

  #navItems {
    display: flex;
    justify-content: space-between; }

  #header {
    padding: .5rem .5rem .5rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }

  #headerWrapper {
    width: 100%;
    background-color: #f3f3f3; }

  #navHeader {
    width: 100%;
    background-color: #6baeec; }

  #header h2 {
    font-size: xx-large;
    color: black; }

  #header a {
    text-decoration: none;
    list-style-type: none; }

  #nameLogo {
    display: flex;
    padding: .25rem;
    margin: .25rem; }

  #nameLogo h1 {
    align-self: flex-end; }

  /* NAV STYLING */
  .searchBar {
    height: 30px; }

  .searchButton {
    height: 30px;
    width: 30px;
    margin-left: -8px;
    border: none;
    border-radius: 0px 10px 0px 0px;
    margin-top: 10px;
    background-color: #548abd;
    color: white; }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 1280px;
    margin: auto; }

  nav ul li a {
    display: block;
    color: #0e0101;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }

  nav ul li a:hover {
    background-color: #ace4fc; }

  .swiper-slide picture {
    display: flex;
    justify-content: center; }

  .swiper-slide {
    background-color: #b3b3b3; }

  #telephone {
    display: block; } }
@media (min-width: 1200px) {
  .square {
    width: 20%; }

  .column {
    float: left;
    width: 33.33%; }

  #hamburgerBtn {
    display: none; }

  #subList {
    z-index: 100;
    position: absolute;
    background-color: #4389a7; }

  #subList li {
    border-bottom: 1px solid black; }

  #primaryNav li.parent > a::after {
    content: "\25bc";
    float: right;
    font-size: .75rem; }

  nav ul li {
    float: left; }

  #subList li a:hover {
    background-color: #ace4fc; }

  #navItems {
    display: flex;
    justify-content: space-between; }

  #header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: .5rem .5rem .5rem .5rem; }

  #headerWrapper {
    width: 100%;
    background-color: #f3f3f3; }

  #navHeader {
    width: 100%;
    background-color: #6baeec; }

  #header h2 {
    font-size: xx-large;
    color: black; }

  #header a {
    text-decoration: none;
    list-style-type: none; }

  #nameLogo {
    display: flex;
    padding: .25rem;
    margin: .25rem; }

  #nameLogo h1 {
    align-self: flex-end; }

  /* NAV STYLING */
  .searchBar {
    height: 30px; }

  .searchButton {
    height: 30px;
    width: 30px;
    margin-left: -8px;
    border: none;
    border-radius: 0px 10px 0px 0px;
    margin-top: 10px;
    background-color: #548abd;
    color: white; }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 1280px;
    margin: auto; }

  nav ul li a {
    display: block;
    color: #0e0101;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }

  nav ul li a:hover {
    background-color: #ace4fc; }

  .swiper-slide picture source {
    width: 100%;
    height: auto; } }

/*# sourceMappingURL=styles.css.map */
